.hero-bg{
  background-image: url("./assets/hero-bg.jpg");
  background-size: 100% 100%;
  background-position: center; 

  background-repeat: no-repeat;

}

.mySwiper{
  padding:20px;
}

.category-card-bg{
  background-image: url("./assets/sneakers.jpg");
  background-size: 100% 100%;
  background-position: center; 
  background-repeat: no-repeat;
}